body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-wrapper {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff; /* Mantém fundo branco */
    width: 90%; /* Aumenta um pouco o espaço disponível */
    max-width: 450px; /* Garante um tamanho maior sem perder responsividade */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    text-align: left; /* Mantém a etiqueta alinhada à esquerda */
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #fd5b5b;
}
